body{
    background-color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#main{
    width: 50%;
    background-color: bisque;
    margin: auto;
    padding: 1%;
}
#welcome{
    color: navy;
    font-size: 1.5em;
}