body{
    background-color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#main{
    width: 95%;
    background-color: bisque;
    margin: auto;
    padding: 1%;
}
#welcome{
    color: navy;
    font-size: 1.5em;
}#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
